:root.theme-light {
  --bg-image-url: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --accent-bg-color: #FF8DCB;
  --accent-color-transparent: rgb(50 49 45 / 0.4);
  --title-color: #FFC2E6;
  --text-color: #353430;
}

.theme-light .header__rec {
    display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image-url: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --accent-color: #353430;
    --accent-bg-color: #FF8DCB;
    --accent-color-transparent: rgb(50 49 45 / 0.4);
    --title-color: #FFC2E6;
    --text-color: #353430;
  }

  :root:not(.theme-light):not(.theme-dark) .header__rec {
    display: none;
  }
}
